# the data/ and outputs/ directories are managed by their own .gitignore files
.ipynb_checkpoints
.virtual_documents
.vscode
*__pycache__*

# Private files or directories
docs
notebooks
src/scratch
src/gene_enrichment
src/gwas
src/paralogs

# Explicitly include
