# Git does not track empty directories by default.
# However, we want the data/ directory to always be accesible.

#Ignore everything in this directory
*

# Except for these files
!.gitignore
!README.md
