# Git does not track empty directories by default.
# However, we want the outputs/ directory to always be accesible.

#Ignore everything in this directory
*

# Except for the .gitignore file itself
!.gitignore

# Other files not to ignore
!expected_variants_all_regions_no_cpg_stats.tsv
!observed_variants_stats*.tsv
!constrained_transcripts_all_regions.tsv
!panel_app_gms_rare_disease_genes.tsv
!proportion_singletons_*

